.git
.gitignore
.vscode
.env
.DS_Store
node_modules
.npm
dist
build
.idea
*.log
storage/logs
database/*.sqlite
public/hot
public/storage
.env.*.php
.phpunit.result.cache
Dockerfile
docker-compose.yml
.dockerignore
